################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ContactsSolution.slnx/FileContentIndex/09d338bd-27a9-4b51-8c63-b6bd6e728419.vsidx
