################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ContactsSolution.slnx/FileContentIndex/09d338bd-27a9-4b51-8c63-b6bd6e728419.vsidx
/.vs/ContactsSolution.slnx/FileContentIndex/953410cb-e98f-4647-9db5-ff9ff7320f5f.vsidx
/.vs/ContactsSolution.slnx/FileContentIndex/66111c0a-57ec-4572-8f04-79d5d4219226.vsidx
/.vs/ContactsSolution.slnx/FileContentIndex/221dda4f-0b9c-4b84-8e68-255c20da161d.vsidx
